button {
    text-decoration: none;
    transition: box-shadow 200ms;
    margin: 6px;
    color: #fff0;
    width: 106px;
    text-align: right;
}

button:hover {
   cursor: pointer;
   border-color: rgba(82, 168, 236, 0.8);
   box-shadow: 0 0 10px rgba(82, 168, 236, 0.6);
   outline: 0 none;
}

button svg {
    position: absolute;
    left: 0;
    height: 100%;
    padding-left: 10px;
}
